#canvas, #littleCanvas, #fitnessCanvas, #individualFitnessCanvas {
    border: 1px solid #000;
}

#fitnessCanvas, #individualFitnessCanvas {
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 0.7rem;
}

#littleCanvas {
    margin-top: 2.5rem;
}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
}

.container, #populationReference {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#fitnessReference, #IndividualFitnessReference {
    width: 100%;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.references {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#lblGeneration, #lblBestChromosome {
    margin: 1.5rem;
}