h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
}

.elements {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.border-solid {
    border: 1px solid #000;
}

.fit-canvas {
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 0.7rem;
}

.references {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.fitness-reference {
    width: 100%;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#btnNextPopulation {
    padding: 1rem;
    border-radius: 7px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#littleCanvas {
    margin-top: 2.5rem;
}

#populationReference {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#lblGeneration, #lblBestChromosome {
    margin: 1.5rem;
}